
<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button class="fs-24 txt1" text="" icon="ios-arrow-round-back"></ion-back-button>
		</ion-buttons>
		<ion-title>Finalizar compra</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-row padding>
		<h4>Finalizando pedido</h4>
		<p>Preencha as informações <br>Para finalizar a compra</p>
	</ion-row>
	<ion-list *ngIf="pay_method != null">
		<ion-radio-group [(ngModel)]="pay_method">
			<ion-item>
				<ion-label>Pagamento Barter</ion-label>
				<ion-radio checked="true" value="1"></ion-radio>
			</ion-item>

			<ion-item>	
				<ion-label>Pagamento via cartão de crédito</ion-label>
				<ion-radio value="2"></ion-radio>
			</ion-item>

			<ion-item>
				<ion-label>Pagamento com Boleto</ion-label>
				<ion-radio value="3"></ion-radio>
			</ion-item>
		</ion-radio-group>
	</ion-list>

	<ion-list>
		<div *ngIf="pay_method==2">
	<!-- 		<ion-item>
				<ion-label stacked>Número do cartão</ion-label>
				<ion-input [(ngModel)]="card_info.number" type="text"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label stacked>Mês de validade</ion-label>
				<ion-input [(ngModel)]="card_info.expMonth" type="text"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label stacked>Ano de validade</ion-label>
				<ion-input [(ngModel)]="card_info.expYear" type="text"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label stacked>CVC</ion-label>
				<ion-input [(ngModel)]="card_info.cvc" type="text"></ion-input>
			</ion-item>
 -->

			<form (ngSubmit)="onSubmit(f)" #f="ngForm">
				<input placeholder="Número Cartão" (blur)="buscaBandeira()" name="numCard" [(ngModel)]="dados.numCard" #numCard="ngModel">
				<br>
				<input placeholder="Validade Cartão MM" name="mesValidadeCard" [(ngModel)]="dados.mesValidadeCard" #mesValidadeCard="ngModel">
				<br>
				<input placeholder="Validade Cartão AAAA" name="anoValidadeCard" [(ngModel)]="dados.anoValidadeCard" #anoValidadeCard="ngModel">
				<br>
				<input placeholder="Cod Segurança" name="codSegCard" [(ngModel)]="dados.codSegCard" #codSegCard="ngModel">
				<br>
				<input placeholder="Nome" name="nome" [(ngModel)]="dados.nome" #nome="ngModel">
				<br>
				<input placeholder="CPF" name="cpf" [(ngModel)]="dados.cpf" #cpf="ngModel">
				<br>
				<input placeholder="Data Nascimento" name="nascimento" [(ngModel)]="dados.nascimento" #nascimento="ngModel">
				<br>
				<input placeholder="Telegone (DD) 123456789" name="telefone" [(ngModel)]="dados.telefone" #telefone="ngModel">
				<br>
				<input type="Email" name="email" [(ngModel)]="dados.email" #email="ngModel" placeholder="E-mail Contato">
				<br>
				<input placeholder="Endereço" name="logradouro" [(ngModel)]="dados.logradouro" #logradouro="ngModel">
				<br>
				<input placeholder="Número" name="numero" [(ngModel)]="dados.numero" #numero="ngModel">
				<br>
				<input placeholder="Bairro" name="bairro" [(ngModel)]="dados.bairro" #bairro="ngModel">
				<br>
				<input placeholder="CEP" name="cep" [(ngModel)]="dados.cep" #cep="ngModel">
				<br>
				<select placeholder="Estado" name="estado" [(ngModel)]="dados.estado" #estado="ngModel" class="width-100">
					<option [value]="'GO'">Goiás</option>			
				</select>
				<br>
				<select placeholder="Cidade" name="cidade" [(ngModel)]="dados.cidade" #cidade="ngModel" class="width-100">
					<option [value]="'Goiânia'">Goiânia</option>			
				</select>
				 <select name="parcela" [(ngModel)]="dados.parcela" #parcela="ngModel" class="width-100">
					<option *ngFor="let p of dados.parcelas" [value]="p['quantity']+'|'+p['installmentAmount']">{{ p['quantity'] + "x " + p['installmentAmount'] }}</option>			
				</select>
				<br>
				<div class="text-right" style="margin-top: 30px;">
					<button type="submit">Pagar</button>
				</div>
				<p *ngIf="boletoLink">
					Clique para <a href="{{boletoLink}}">Ver Boleto</a>.
				  </p>
			</form>
				
		</div>
		<div *ngIf="pay_method==3">
				<form (ngSubmit)="onSubmit(f)" #f="ngForm">
						<br>
						<input placeholder="Nome" name="nome" [(ngModel)]="dados.nome" #nome="ngModel">
						<br>
						<input placeholder="CPF" name="cpf" [(ngModel)]="dados.cpf" #cpf="ngModel">
						<br>
						<input placeholder="Data Nascimento" name="nascimento" [(ngModel)]="dados.nascimento" #nascimento="ngModel">
						<br>
						<input placeholder="Telegone (DD) 123456789" name="telefone" [(ngModel)]="dados.telefone" #telefone="ngModel">
						<br>
						<input type="Email" name="email" [(ngModel)]="dados.email" #email="ngModel" placeholder="E-mail Contato">
						<br>
						<input placeholder="Endereço" name="logradouro" [(ngModel)]="dados.logradouro" #logradouro="ngModel">
						<br>
						<input placeholder="Número" name="numero" [(ngModel)]="dados.numero" #numero="ngModel">
						<br>
						<input placeholder="Bairro" name="bairro" [(ngModel)]="dados.bairro" #bairro="ngModel">
						<br>
						<input placeholder="CEP" name="cep" [(ngModel)]="dados.cep" #cep="ngModel">
						<br>
						<select placeholder="Estado" name="estado" [(ngModel)]="dados.estado" #estado="ngModel" class="width-100">
							<option [value]="'GO'">Goiás</option>			
						</select>
						<br>
						<select placeholder="Cidade" name="cidade" [(ngModel)]="dados.cidade" #cidade="ngModel" class="width-100">
							<option [value]="'Goiânia'">Goiânia</option>			
						</select>
						<br>
						<div class="text-right" style="margin-top: 30px;">
							<button type="submit">Pagar</button>
						</div>
						<p *ngIf="boletoLink">
							Clique para <a href="{{boletoLink}}">Pagar Boleto</a>.
						  </p>
					</form>
						
		</div>


		 <div *ngIf="user_id == null">
		<ion-item>
				<ion-label stacked>Nome </ion-label>
				<ion-input [(ngModel)]="full_name" type="text"></ion-input>
				<p padding class="err" *ngIf="full_name.length() < 5 || full_name.length() > 50">* More than 5 and less than 50 characters, do not contain special characters.</p>
			</ion-item>

			<ion-item>
				<ion-label stacked>Telefone</ion-label>
				<ion-input type="number" [(ngModel)]="phone" type="text"></ion-input>
				<p padding class="err" *ngIf="phone.length() < 10 || phone.length() > 50">* More than 10 and less than 50 digits.</p>
			</ion-item>

			<ion-item>
				<ion-label stacked>Email</ion-label>
				<ion-input type="text" [(ngModel)]="email" type="text"></ion-input>
				<p padding class="err" *ngIf="email.length() < 10 || email.length() > 50">* More than 10 and less than 50 digits.</p>
			</ion-item>
		</div> 
	</ion-list>

	<form padding (ngSubmit)="order()" [formGroup]="addressForm" *ngIf="user_id || user_id != null">
		<ion-list>
			<div padding>
				<ion-label class="txt3">Ponto de referência</ion-label>
				<ion-item>
					<ion-input formControlName="address" type="text"></ion-input>
				</ion-item>
				<div text-right class="error-message" *ngIf="!addressForm.controls.address.valid && addressForm.controls.address.dirty">
					<p class="fs-14 mgt-5 txt-danger">Por favor digite um endereço válido.</p>
				</div>

				<br>

				<ion-label class="txt3">Mensagem ou pedido especial</ion-label>
				<ion-item>
					<ion-textarea formControlName="message"></ion-textarea>
				</ion-item>
				
				<ion-label class="txt3">CPF comprador</ion-label>
				<ion-item>
					<ion-textarea formControlName="cpf"></ion-textarea>
				</ion-item>
			</div>
		</ion-list>

		<div class="payment" padding>
			<p class="fee total-pay flex-row flex-ali-end">
				<span class="uppercase fs-15 fw-600">Preço:</span>
				<span class="mgl-20 fs-20 fw-600 spacing1 flex-1" text-right *ngIf="currenciesProv">{{currenciesProv.formatMoney(total_price)}}</span>
			</p>
			<p class="fee total-pay flex-row flex-ali-end">
				<span class="uppercase fs-15 fw-600">Taxa:</span>
				<span class="mgl-20 fs-20 fw-600 spacing1 flex-1" text-right *ngIf="currenciesProv">{{currenciesProv.formatMoney(tax_pay)}}</span>
			</p>
			<p class="fee total-pay flex-row flex-ali-end">
				<span class="uppercase fs-15 fw-600">Entrega:</span>
				<span class="mgl-20 fs-20 fw-600 spacing1 flex-1" text-right *ngIf="currenciesProv">{{currenciesProv.formatMoney(shipfee_pay)}}</span>
			</p>

			<p class="fee total-pay flex-row flex-ali-end">
				<span class="uppercase fs-20 fw-600">Pagamento:</span>
				<span class="mgl-20 fs-28 fw-600 spacing1 flex-1" text-right *ngIf="currenciesProv">{{currenciesProv.formatMoney(total_pay)}}</span>
			</p>

			<div class="err_show" *ngIf="!validate">
				<p class="err txt-danger italic">Erro! digite novamente.</p>
			</div>

			<br><br>
			<p>
				Clique para <a (click)="downloadPdf()">Ver Contrato</a>.
			  </p>
		  
			<ion-item>
				<ion-label>Li e aceito o contrato</ion-label>
				<ion-checkbox slot="end" value="aceito"  (click)="createPdf()" ></ion-checkbox>
			  </ion-item>

	
			<ion-button type="submit" shape="round" expand="block">
				<ion-icon slot="start" name="card"></ion-icon>Finalizar pagamento
			</ion-button>
			
			<!-- <ion-button type="button" class="mgt-15" shape="round" expand="block" href="/mycart" routerDirection="forward">
				<ion-icon slot="start" name="close"></ion-icon>Cancel
			</ion-button> -->
		</div>
	</form>



</ion-content>
