<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
	<div class="pst-wrap-form pdl-30 pdr-30">
		<div class="wrapper-form pdl-30 pdr-30">
			<div class="mgt-30 mgb-20">
				<br>
				<!-- <h1 class="uppercase txt-light fw-900 spacing3 fs-30 spacing-3 mgb-0">KIWI</h1> -->
				<img class="brand-logo" src="assets/imgs/logo.png">
				<h3 class="uppercase txt-light fw-600 fs-20 spacing-2 mgl-20 pdt-0">Login</h3>
				<p class="pdl-20 fs-12 txt-light">Faça login ou crie sua conta</p>
			</div>
	<!-- 		<div text-right class="mgr--10">
				<ion-button size="small" fill="clear" shape="round" (click)="login_fb()" class="txt-light fs-16 capitalize">
					Join with
					<ion-icon slot="end" name="logo-facebook"></ion-icon>
				</ion-button>
			</div> -->

			<br>

			<form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
				<ion-label stacked class="mgb-5 fs-13 txt-light">Email</ion-label>
				<ion-list class="ani-bottom-to-top mgb-0 mgt-5">
					<ion-item class="white-opct bdra-30">
						<ion-input #email formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty" class=""></ion-input>
					</ion-item>
				</ion-list>
				
				<div class="error-message" *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty">
					<p class="fs-11 mgt-5 txt-light">Digite um email válido.</p>
				</div>

				<br>
				
				<ion-label stacked class="mgb-5 fs-13 txt-light">Senha</ion-label>
				<ion-list class="ani-bottom-to-top mgb-0 mgt-5">
					<ion-item class="white-opct bdra-30">
						<ion-input #password formControlName="password" type="password" placeholder="Your password" 
						[class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty" class=""></ion-input>
					</ion-item>
				</ion-list>

				<div class="error-message" *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty">
					<p class="fs-11 mgt-5 mgb-0 txt-light">Senha precisa de 6 ou mais caracteres.</p>
				</div>

				<div text-right class="mgb-10 ovfl-auto">
					<ion-button fill="clear" size="small" class="capitalize txt-light fs-12 txt3 pull-right pdr-0 fw-300" [routerLink]="'/forgot'">
						Esqueci a senha
					</ion-button>
				</div>

				<ion-button expand="block" shape="round" color="primary" class="mgt-30 uppercase fw-600 spacing1 ani-bottom-to-top shadow-0" type="submit">
					Entrar
				</ion-button>

				<br>

				<div class="text-center">
					<ion-button fill="clear" expand="block" text-center size="small" class="fs-12 txt-light capitalize fw-300 mgt-0" [routerLink]="'/signup'">
						Criar nova conta
					</ion-button>
				</div>
				<div class="text-center">
					<ion-button fill="clear" expand="block" text-center size="small" class="fs-12 txt-light capitalize fw-300 mgt-0" [routerLink]="'/signup'">
						Termos de uso
					</ion-button>
				</div>
				<br>

			</form>
		</div>
	</div>
	<div class="img-bg flex-row flex-ali-center flex-jus-center">
		<img src="assets/imgs/bg4.jpg">
	</div>
</ion-content>
