<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button class="fs-24 txt1" text="" icon="ios-arrow-round-back"></ion-back-button>
		</ion-buttons>

		<ion-title>Esqueci</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<div class="wrapp-pst" padding>
		<div padding class="mgt-70">
			<h1 class="uppercase fw-900 fs-30 spacing-3 mgb-0">Raiz</h1>
			<h3 class="uppercase fw-600 fs-20 spacing-2 mgl-20 pdt-0">Esqueci a senha</h3>
<!-- 			<p class="pdl-20 fs-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
 -->		</div>


		<div class="wrapp-form mgt-50" padding>
			<form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>
				<ion-label stacked class="mgb-5 pdl-10">Email</ion-label>
				<ion-list class="ani-bottom-to-top mgb-0">
					<ion-item class="white-opct bdra-30">
						<ion-input #email formControlName="email" type="email" placeholder="Seu email" [class.invalid]="!resetPasswordForm.controls.email.valid && resetPasswordForm.controls.email.dirty" class=""></ion-input>
					</ion-item>
				</ion-list>

				<div class="error-message" *ngIf="!resetPasswordForm.controls.email.valid && resetPasswordForm.controls.email.dirty">
					<p class="fs-11 mgt-5">Digite um email valido.</p>
				</div>
				
				<div padding class="">
					<ion-button expand="block" shape="round" class="mgt-20 uppercase fw-600 spacing1 ani-bottom-to-top" type="submit">
						Resetar senha
					</ion-button>
				</div>
			</form>
		</div>
	</div>
</ion-content>