<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>
            <img class="logo-in-menu" src="assets/imgs/logo.png">
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <br>
        <br>

        <div class="profile-menu-wrap" text-center *ngIf="user || user != null">
          <div class="wrap-top">
            <h2 class="spacing-1 mgb-15 fs-20 capitalize txt1 fw-600">{{user.username}}</h2>
            <div class="avt-thumb">
              <img src="{{(user.avt != '' && user.avt != null)? user.avt : 'assets/imgs/no-avt.png' }}">
            </div>
            <div text-center class="act">
              <ion-menu-toggle auto-hide="false">
                <ion-button size="small" shpae="round" color="dark" class="btn-logout ovfl-hidden bdra-30 fs-12 mgl-10 mgb--10 shadow-2" (click)="logout()">
                  <ion-icon name="md-log-out"></ion-icon>
                </ion-button>
              </ion-menu-toggle>
            </div>
          </div>
          <div class="info">
            <p class="mgt-20 txt-b2 fw-500 spaing-1 mgb-0 txt2">{{user.email}}</p>
            <p class="fs-12 txt-b4 spacing-1 mgt-5 txt3">
              <ion-icon name="pin"></ion-icon>
              {{(user.address && user.address != null && user.address != '')? user.address : 'Need to add address'}}
            </p>

            <br>
          
          </div>
        </div>


        <div class="main-menu bg-l1 pdl-20">
          
          <br>
          
          <ion-list class="lst-no-background" no-margin no-lines>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of menu">
              <ion-item [routerDirection]="'root'" [routerLink]="[p.path]" class="txt1">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>{{p.name}}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>

          <br>
          <br>
        
        </div>


      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
