
.wrap-top-slide{
	.thumb{
		height: 200px;
	}
}
.wrap-slides-cat{
	width: 135%;
}
.mini-cat{
	height: 70px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	img{

	}
	h6{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(0,0,0,0.4);
	}
}
.top-action{
	display: flex;
	align-items: center;
	h6{
		flex: 1;
	}
}
.list-prd-card{
	.item-prd{
		.thumb{
			position: relative;
			height: 150px;
			img{
				height: 100%;
				min-width: 100%;
			}
			.discount{
				z-index: 100;
				position: absolute;
				top: 10px;
				left: 0px;
				height: 25px;
				width: 80px;
				overflow: hidden;
				&:before{
					content: "";
					background: var(--ion-background-color);
					display: block;
					height: 200%;
					width: 180%;
					margin-left: -100px;
					transform: rotate(-15deg);
					position: absolute;
					z-index: -1;
				}
			}
			.favo-btn{
				z-index: 10;
				position: absolute;
				right: 10px;
				bottom: 5px;
			}
		}
	}
}


.list-prd-list{
	.item-prd{
		display: flex;
		align-items: center;
		border-bottom: 1px solid #ebebeb;
		.thumb{
			height: 80px;
			width: 90px;
			img{
				height: 100%;
				min-width: 100%;
			}
		}
	}
}