<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        class="fs-24 txt1"
        text=""
        icon="ios-arrow-round-back"
      ></ion-back-button>
    </ion-buttons>

    <ion-title>Nova conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="wrapp-pst" padding>
    <div padding class="mgt-50">
      <h1 class="uppercase fw-900 fs-30 spacing-3 mgb-0">Raiz</h1>
      <h3 class="uppercase fw-600 fs-20 spacing-2 mgl-20 pdt-0">
        Criar uma nova conta
      </h3>
      <!-- 			<p class="pdl-20 fs-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
 -->
    </div>

    <br /><br /><br />
    <br /><br />

    <div class="wrapp-form mgt--50" padding>
      <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
        <br />
        <ion-label stacked class="mgb-5">Nome</ion-label>
        <ion-list class="ani-bottom-to-top mgb-0">
          <ion-item class="white-opct bdra-30">
            <ion-input
              #email
              formControlName="fullname"
              type="text"
              placeholder="Seu nome"
              [class.invalid]="
                !signupForm.controls.fullname.valid &&
                signupForm.controls.fullname.dirty
              "
              class=""
            ></ion-input>
          </ion-item>
        </ion-list>

        <div
          class="error-message"
          *ngIf="
            !signupForm.controls.fullname.valid &&
            signupForm.controls.fullname.dirty
          "
        >
          <p class="fs-11 mgt-5">nome inválido.</p>
        </div>

        <br />
        <ion-label stacked class="mgb-5">Email</ion-label>
        <ion-list class="ani-bottom-to-top mgb-0">
          <ion-item class="white-opct bdra-30">
            <ion-input
              #email
              formControlName="email"
              type="email"
              placeholder="Seu email"
              [class.invalid]="
                !signupForm.controls.email.valid &&
                signupForm.controls.email.dirty
              "
              class=""
            ></ion-input>
          </ion-item>
        </ion-list>

        <div
          class="error-message"
          *ngIf="
            !signupForm.controls.email.valid && signupForm.controls.email.dirty
          "
        >
          <p class="fs-11 mgt-5">inválido.</p>
        </div>

        <br />
        <ion-label stacked class="mgb-5">Fone</ion-label>
        <ion-list class="ani-bottom-to-top mgb-0">
          <ion-item class="white-opct bdra-30">
            <ion-input
              #email
              formControlName="phone"
              type="number"
              placeholder="Seu telefone"
              [class.invalid]="
                !signupForm.controls.phone.valid &&
                signupForm.controls.phone.dirty
              "
              class=""
            ></ion-input>
          </ion-item>
        </ion-list>

        <div
          class="error-message"
          *ngIf="
            !signupForm.controls.phone.valid && signupForm.controls.phone.dirty
          "
        >
          <p class="fs-11 mgt-5">Telefone inválido.</p>
        </div>
        <br />
        <ion-label stacked class="mgb-5">Latitude</ion-label>
        <ion-list class="ani-bottom-to-top mgb-0">
          <ion-item class="white-opct bdra-30">
            <ion-input
              #email
              formControlName="latitude"
              type="number"
              placeholder="Latitude"
              [class.invalid]="
                !signupForm.controls.latitude.valid &&
                signupForm.controls.latitude.dirty
              "
              class=""
            ></ion-input>
          </ion-item>
        </ion-list>

        <div
          class="error-message"
          *ngIf="
            !signupForm.controls.latitude.valid &&
            signupForm.controls.latitude.dirty
          "
        >
          <p class="fs-11 mgt-5">valor inválido.</p>
        </div>
        <br />
        <ion-label stacked class="mgb-5">Longitude</ion-label>
        <ion-list class="ani-bottom-to-top mgb-0">
          <ion-item class="white-opct bdra-30">
            <ion-input
              #email
              formControlName="longitude"
              type="number"
              placeholder="longitude"
              [class.invalid]="
                !signupForm.controls.longitude.valid &&
                signupForm.controls.longitude.dirty
              "
              class=""
            ></ion-input>
          </ion-item>
        </ion-list>

        <div
          class="error-message"
          *ngIf="
            !signupForm.controls.longitude.valid &&
            signupForm.controls.longitude.dirty
          "
        >
          <p class="fs-11 mgt-5">valor inválido.</p>
        </div>

        <br />
        <ion-label stacked class="mgb-5">Endereço</ion-label>
        <ion-list class="ani-bottom-to-top mgb-0">
          <ion-item class="white-opct bdra-30">
            <ion-input
              #email
              formControlName="address"
              type="text"
              placeholder="Endereço"
              [class.invalid]="
                !signupForm.controls.address.valid &&
                signupForm.controls.address.dirty
              "
              class=""
            ></ion-input>
          </ion-item>
        </ion-list>

        <div
          class="error-message"
          *ngIf="
            !signupForm.controls.address.valid &&
            signupForm.controls.address.dirty
          "
        >
          <p class="fs-11 mgt-5">Endereço inválido.</p>
        </div>

        <br />
        <ion-label stacked class="mgt-15 mgb-5">Senha</ion-label>
        <ion-list class="ani-bottom-to-top mgb-0">
          <ion-item class="white-opct bdra-30">
            <ion-input
              #password
              formControlName="password"
              type="password"
              placeholder="Sua senha"
              [class.invalid]="
                !signupForm.controls.password.valid &&
                signupForm.controls.password.dirty
              "
              class=""
            ></ion-input>
          </ion-item>
        </ion-list>

        <div
          class="error-message"
          *ngIf="
            !signupForm.controls.password.valid &&
            signupForm.controls.password.dirty
          "
        >
          <p class="fs-11 mgt-5">Necessário mais de 6 caracteres.</p>
        </div>

        <br />

        <ion-button expand="block" shape="round" class="mgt-30" type="submit">
          Criar conta
        </ion-button>
      </form>
    </div>

    <br />
    <br />
    <br />
  </div>
</ion-content>
