<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button>
				<ion-icon class="fs-24 txt1" name="menu"></ion-icon>
			</ion-menu-button>
		</ion-buttons>

		<ion-title>Perfil</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<div text-center class="top-profile">
		<div text-right>
			<ion-button fill="clear" class="fs-16" (click)="logout()">
				<ion-icon name="md-log-out"></ion-icon>Sair
			</ion-button>
		</div>
		<br>
		<br>
		<div class="thumb-avt flex-row flex-ali-center flex-jus-center" *ngIf="user != null || user">
			<img src="{{(user.avt != '' && user.avt != null)? user.avt : 'assets/imgs/no-avt.png' }}">
		</div>
		<ion-button size="small" (click)="pickImage()" class="bdra-30 btn-edit mgt--15 mgl-50 shadow-3">
			<ion-icon name="create"></ion-icon>
		</ion-button>
		<h2 class="spacing-1 fs-20 fw-600" *ngIf="user != null || user">{{user.username}}</h2>
	</div>

	<br>
	<br>

	<form padding (ngSubmit)="updateAddress()" [formGroup]="addressForm" *ngIf="user || user != null">
		<ion-label class="pdl-15 txt-b3">Email</ion-label>
		<ion-item>
			<ion-input disabled value={{user.email}} type="text"></ion-input>
		</ion-item>

		<br>

		<ion-label class="pdl-15 txt-b3">Nome de usuário</ion-label>
		<ion-item>
			<ion-input formControlName="username" type="text"></ion-input>
		</ion-item>

		<br>

		<ion-label class="pdl-15 txt-b3">Nome</ion-label>
		<ion-item>
			<ion-input formControlName="fullname" type="text"></ion-input>
		</ion-item>

		<br>

		<ion-label class="pdl-15 txt-b3">Endereço</ion-label>
		<ion-item>
			<ion-input formControlName="address" type="text"></ion-input>
		</ion-item>

		<br>

		<ion-label class="pdl-15 txt-b3">Fone</ion-label>
		<ion-item>
			<ion-input formControlName="phone" type="numbber"></ion-input>
		</ion-item>

		<br>
		<br>
		<div class="" text-center>
			<ion-button shape="round" type="submit" class="">
				Salvar
			</ion-button>
		</div>

		<br>
		<br>
		<br>
	</form>


	<div class="" text-center>
		<ion-button fill="clear" [routerLink]="'/forgot'" class="">
			Nova senha
		</ion-button>
	</div>

	<br>
	<br>
	<br>
	<br>
	<br>
	<ion-button (click)="loadMap()" shape="round" fill="outline">
		<ion-icon slot="start" name="locate"></ion-icon>
		Mostrar minha localização
	</ion-button>
	<ion-button (click)="loadMap()" shape="round" fill="outline">
		Salvar como endereço de entrega
	</ion-button>


	<div class="map-wrapper">
		<div id="map_center">
			<img src="../../assets/imgs/location.png" />
		</div>
		<div #map id="map"></div>
	</div>
	<div id="address">
		<span>{{address}}</span>
	</div>

</ion-content>