.top-profile {}

.thumb-avt {
	z-index: 100;
	margin: 0px auto;
	border-radius: 50%;
	height: 120px;
	width: 120px;
	overflow: hidden;
	position: relative;
	border: 3px solid var(--ion-color-light);

	img {
		height: 100%;
		min-width: 100%;
		max-width: auto;
	}
}

.btn-edit {
	position: relative;
	z-index: 110;
}

#map_canvas {
	width: 90%;
	height: 80%;
	border: 1px solid red;
}


#address {
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
}

#map {
	width: 100%;
	height: 70vh;
}

.map-wrapper {
	position: relative;

	#map_center {
		position: absolute;
		z-index: 99;
		height: 40px;
		width: 40px;
		top: 50%;
		left: 50%;
		margin-left: -21px;
		margin-top: -41px;
	}
}