<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
		<ion-menu-toggle>
			<ion-button>
  
		<ion-icon class="fs-24 txt1" name="menu"></ion-icon>
	  </ion-button>
	</ion-menu-toggle>
	  </ion-buttons>
  
	<ion-buttons slot="end">

	  <ion-button fill="clear" class="shadow-0 txt1" [routerLink]="'/mycart'" routerDirection="forward">
		<ion-icon name="cart"></ion-icon>
	  </ion-button>
	</ion-buttons>
  
	<ion-title>Categorias</ion-title>
  </ion-toolbar>
  </ion-header>
  
<ion-content>
	<ion-card [routerLink]="['/home']" routerDirection="forward">
		<img class="" src="../../assets/imgs/bg4.jpg">
		<ion-card-header translucent="true">
			<ion-card-subtitle>Produtos, fornecedores e mais</ion-card-subtitle>
			<ion-card-title>MarketPlace</ion-card-title>
		</ion-card-header>
	</ion-card>		  
	<div class="" *ngFor="let item of list_cat">
			<ion-card [routerLink]="['/list', {id: item.payload?.doc.id, name: item.payload.doc.data().name} ]" routerDirection="forward">
				<img class="" src="{{item.payload.doc.data().thumb}}">
				<ion-card-header translucent="true">
					<ion-card-subtitle>{{item.payload.doc.data().description}}</ion-card-subtitle>
					<ion-card-title>{{item.payload.doc.data().name}}</ion-card-title>
				</ion-card-header>
			</ion-card>	
	<!-- 	<br>
		<br>
		<br>
		<br>
		<br> -->		
	<!-- 	<div class="item-cat white" padding [routerLink]="['/list', {id: item.payload?.doc.id, name: item.payload.doc.data().name} ]" routerDirection="forward">
			<div class="thumb ovfl-hidden flex-row flex-ali-center flex-jus-center mgt--70 mgr-30 shadow-3">
				<img class="" src="{{item.payload.doc.data().thumb}}">
			</div>
			<div class="mgt-20 pdl-30">
				<p class="ellipsis txt-b3 mgb-0">{{item.payload.doc.data().description}}</p>
				<h3 class="mgt-0 uppercase fs-20">{{item.payload.doc.data().name}}</h3>
			</div>
		</div> -->
	</div>
	<br>

</ion-content>
