<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon class="fs-24 txt1" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button
        fill="clear"
        class="shadow-0 txt1"
        [routerLink]="'/search'"
        routerDirection="forward"
      >
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button
        fill="clear"
        class="shadow-0 txt1"
        [routerLink]="'/mycart'"
        routerDirection="forward"
      >
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Início</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrap-top-slide" *ngIf="list_product_slide">
    <ion-slides
      [options]="slidePerViewOpts"
      style="
    padding: 10px;
"
    >
      <ion-slide *ngFor="let item of list_product_slide">
        <div
          text-left
          class="item-slide"
          [routerLink]="['/detail', { id_item: item.payload.doc.id }]"
        >
          <div
            class="thumb ovfl-hidden flex-row flex-jus-center flex-ali-center"
          >
            <img src="{{ item.payload.doc.data().thumb }}" />
          </div>
          <p class="pdl-15 pdr-15 ellipsis txt3 mgb-5 fs-14">
            {{ item.payload.doc.data().description }}
          </p>
          <h4 class="pdl-15 pdr-15 fw-500 fs-16 txt1 mgt-0 ellipsis">
            {{ item.payload.doc.data().name }}
          </h4>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <!--   <h4>categorias</h4>

  <div class="catagory_list">
      <ul>
          <li (click)="medicinelist()">
              <img src="assets/imgs/raiz4.png" class="cat_img">
              <p>Serviços</p>
          </li>
          <li (click)="medicinelist()">
              <img src="assets/imgs/raiz3.png" class="cat_img">
              <p>Agricultura</p>
          </li>
          <li (click)="medicinelist()">
              <img src="assets/imgs/raiz2.png" class="cat_img">
              <p>Pecuária</p>
          </li>
          <li (click)="medicinelist()">
              <img src="assets/imgs/raiz1.png" class="cat_img">
              <p>Maquinas</p>
          </li>
      </ul>
  </div>

 -->
  <div padding class="wrap-news" *ngIf="list_product_new">
    <h5 class="uppercase fs-16 fw-600 spacing-1 txt1">Novos produtos</h5>
    <ion-slides [options]="slidePerViewOpts2">
      <ion-slide *ngFor="let item of list_product_new">
        <div
          text-left
          class="item-slide"
          [routerLink]="['/detail', { id_item: item.payload.doc.id }]"
        >
          <div
            class="thumb ovfl-hidden flex-row flex-jus-center flex-ali-center"
          >
            <img src="{{ item.payload.doc.data().thumb }}" />
          </div>
          <h4 class="fw-500 fs-14 txt1 mgb-0 ellipsis">
            {{ item.payload.doc.data().name }}
          </h4>
          <p class="txt4 mgt-0 fs-11">
            {{ item.payload.doc.data().created.substring(4, 15) }}
          </p>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div padding class="">
    <h5 class="uppercase fs-16 fw-600 spacing-1 txt1 mgt-0">Populares</h5>
    <ion-row>
      <ion-col class="col" size="6" *ngFor="let item of list_product">
        <ion-card class="card">
          <div class="item-prd mgb-10">
            <div
              class="thumb ovfl-hidden flex-row flex-jus-center flex-ali-center"
            >
              <div
                class="discount fw-600 pdt-5 fs-12 shadow-3 white"
                *ngIf="item.payload.doc.data().estado"
              >
                {{ item.payload.doc.data().estado }}
              </div>
              <img
                class="imagem-produto"
                src="{{ item.payload.doc.data().thumb }}"
                [routerLink]="['/detail', { id_item: item.payload.doc.id }]"
              />
              <ion-button
                size="small"
                color="primary"
                class="fs-11 bdra-0 favo-btn"
                *ngIf="favo_str.search(item.payload.doc.id) > -1"
                (click)="favorites(item)"
              >
                <ion-icon name="ios-heart"></ion-icon>
              </ion-button>
              <ion-button
                size="small"
                color="dark"
                class="fs-11 bdra-0 favo-btn"
                *ngIf="favo_str.search(item.payload.doc.id) < 0"
                (click)="favorites(item)"
              >
                <ion-icon name="ios-heart"></ion-icon>
              </ion-button>
            </div>

            <div
              class="ovfl-hidden"
              [routerLink]="['/detail', { id_item: item.payload.doc.id }]"
            >
              <span
                class="ellipsis fs-14 txt1 mg-0 fw-600"
                *ngIf="currenciesProv && item.payload.doc.data().discount == 0"
              >
                {{ currenciesProv.formatMoney(item.payload.doc.data().price) }}
              </span>
              <p class="mgt-5 mgb-0">
                <span
                  padding
                  class="ellipsis fs-14 txt3 mg-0 line-through mgr-10 fw-600"
                  *ngIf="currenciesProv && item.payload.doc.data().discount > 0"
                >
                  <i *ngIf="currenciesProv">{{
                    currenciesProv.formatMoney(item.payload.doc.data().price)
                  }}</i>
                </span>
                <br />
                <span
                  padding
                  class="ellipsis fs-14 txt1 mg-0 fw-600"
                  *ngIf="currenciesProv && item.payload.doc.data().discount > 0"
                >
                  {{
                    currenciesProv.formatMoney(
                      item.payload.doc.data().price -
                        (item.payload.doc.data().price *
                          item.payload.doc.data().discount) /
                          100
                    )
                  }}
                </span>
              </p>
              <h4 class="fs-16 fw-400 ellipsis mgb-0 mgt-10 nome">
                {{ item.payload.doc.data().name }}
              </h4>
            </div>
            <div class="mgt-10">
              <ion-button
                size="small"
                color="primary"
                (click)="addCart(item)"
                class="uppercase fs-11 bdra-0 fw-600"
              >
                <ion-icon slot="start" name="ios-cart"></ion-icon>
                comprar
              </ion-button>
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <br />
  <!--   
  <ion-grid class="is-tiles">
      <ion-row>
        <ion-col size="6" no-padding *ngFor="let item of list_product">
          <ion-card routerLink="/produto" routerDirection="root">
            <img src="{{item.payload.doc.data().thumb}}" [routerLink]="['/detail', {id_item: item.payload.doc.id}]">
            <div class="discount fw-600 pdt-5 fs-12 shadow-3 white" *ngIf="item.payload.doc.data().discount > 0">
                - {{item.payload.doc.data().discount}}%
              </div>
            <ion-card-content>
              <p>
                {{ "Produto XYZ" | slice:0:33 }}...
              </p>
              <h2>R$204</h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" no-padding>
          <ion-card>
            <img src="assets/imgs/prod2.jpg">
            <ion-card-content>
              <p>
                {{ "Produto ABC" | slice:0:33 }}...
              </p>
              <h2>R$79</h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid> -->

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
