.cat_img {
	margin: auto;

}
.imagem-produto {
	object-fit: contain;
	border-radius: 5px;
}
.nome {
	padding: 0px 0px 0px 5px;
}
.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	background-color: white;
	border-radius: 5px;
	width: 100%;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 5px;
//	width: 40%;
  }
.catagory_list {
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    ul {
        margin: 0px;
        padding: 0px;
        text-align: center;
        li {
            list-style: none;
            display: inline-block;
            width: 24%;
            text-align: center;
            img {
                width: 50px;
            }
            p {
                margin: 0px;
                padding: 0px;
                text-align: center;
                color: #797979;
                font-size: 14px;
                padding-top: 3px;
            }
        }
    }
}
.can-go-back {
	ion-menu-button {
		display: block !important;
	}
}

.wrap-top-slide{
	width: 170%;
	.thumb{
		border-radius: 12px;
		height: 150px;
		img{
			min-height: 100%;
			width: 100%;
		}
	}
}
.wrap-news{
	width: 120%;
	.thumb{
		height: 80px;
		img{
			height: 100%;
			min-width: 100%;
		}
	}
}
.item-prd{
	.thumb{
		position: relative;
		height: 120px;
		img{
			height: 100%;
			min-width: 100%;
		}
		.discount{
			z-index: 100;
			position: absolute;
			top: 10px;
			left: 0px;
			height: 25px;
			width: 80px;
			overflow: hidden;
			background-color: rgba(75, 75, 75, 0.699);
			color: white;
			width: 25%;
			border-radius: 50%;
			text-align: center;
			&:before{
				content: "";
				background: var(--ion-background-color);
				display: block;
				height: 200%;
				width: 180%;
				margin-left: -100px;
				transform: rotate(-15deg);
				position: absolute;
				z-index: -1;
				    background-color: red;
    color: white;
    width: 20%;
    border-radius: 50%;
    text-align: center;
			}
		}
		.favo-btn{
			z-index: 10;
			position: absolute;
			right: 10px;
			bottom: 5px;
		}
	}
}
