<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button>
				<ion-icon class="fs-24 txt1" name="menu"></ion-icon>
			</ion-menu-button>
		</ion-buttons>

		<ion-buttons slot="end">
			<ion-button fill="clear" class="shadow-0 txt1" [routerLink]="'/search'" routerDirection="forward">
				<ion-icon name="search"></ion-icon>
			</ion-button>
			<ion-button fill="clear" class="shadow-0 txt1" [routerLink]="'/mycart'" routerDirection="forward">
				<ion-icon name="cart"></ion-icon>
			</ion-button>
		</ion-buttons>

		<ion-title>Meus pedidos</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content padding class="bg-l1">
	<ion-segment (ionChange)="segmentChanged($event)" value="pedidos">
		<ion-segment-button value="pedidos">
			<ion-label>Pedidos</ion-label>
		</ion-segment-button>
		<ion-segment-button value="servicos">
			<ion-label>Serviços e análises</ion-label>
		</ion-segment-button>
		<ion-segment-button value="recomendacoes">
			<ion-label>Recomendações</ion-label>
		</ion-segment-button>
	</ion-segment>
	<br>
	<div [ngSwitch]="segment">
		<div *ngSwitchCase="'recomendacoes'">
			<h5>Recomendações e consultoria</h5>

			<div class="" *ngIf="list_listas.length > 0">
				<div *ngFor="let item of list_listas">
					<mat-accordion>
						<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
							<mat-expansion-panel-header>
								<mat-panel-title>
									Recomendação feito em {{item.created.substring(4, 15)}}
								</mat-panel-title>
								<mat-panel-description>
									Criada por:
								</mat-panel-description>
							</mat-expansion-panel-header>
							<div class="top">
								<p class="txt-b1 fw-600">Recomendação #{{item.id}}</p>
								<p text-right class="txt-b3">233</p>
							</div>

							<hr />
							<div class="-wrap-prd">
								<div *ngFor="let elmt of item.recomendacao" class="elm-prd"
									[routerLink]="['/detail', {id_item: elmt.id}]">
									<h4 class="fs-14 mgb-0 name">{{elmt.name}}</h4>
									<p class="txt-b3 quantity">x {{elmt.quantidade}}</p>
									<p class="txt-b3 price" text-right>{{elmt.description}}</p>
								</div>
							</div>
							<br>
							<div class="bottom">

								<hr />
								<p class="txt-b3 mg-0">
									Valor:
									<strong class="txt-b1 pull-right" text-right>1</strong>
								</p>
								<p class="txt-b3 mg-0">
									Taxa ({{settings.tax_fee}}%):
									<strong class="txt-b1 pull-right" text-right>1</strong>
								</p>
								<p class="txt-b3 mg-0">
									Frete 1:
									<strong class="txt-b1 pull-right" text-right>1</strong>
								</p>
								<p class="txt-b3 fs-18">
									Total:
									<strong class="txt-b1 pull-right" text-right>1</strong>
								</p>
							</div>
							<div class="" text-right>
								<hr class="bg-info">
								<p class="txt1 italic fw-600" (click)="adicionaRecomendacao(item.recomendacao)">Adicionar ao carrinho
								</p>
							</div>
						</mat-expansion-panel>
					</mat-accordion>
					<br>
				</div>

			</div>
		</div>
		<div *ngSwitchCase="'pedidos'">
			<h5>Pedidos</h5>
			<h2 class="uppercase" *ngIf="list_orders_pending.length > 0">Pedidos aguardando </h2>
			<br>
			<div class="" *ngIf="list_orders_pending.length > 0">
				<div *ngFor="let item of list_orders_pending">
					<mat-accordion>
						<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
							<mat-expansion-panel-header>
								<mat-panel-title>
									Pedido feito em {{item.payload.doc.data().created.substring(4, 15)}}
								</mat-panel-title>
								<mat-panel-description>
									{{currenciesProv.formatMoney(item.payload.doc.data().total_pay)}}
								</mat-panel-description>
							</mat-expansion-panel-header>
							<div class="top">
								<p class="txt-b1 fw-600">Pedido #{{item.payload.doc.id}}</p>
								<p text-right class="txt-b3">{{item.payload.doc.data().created.substring(4, 15)}}</p>
							</div>
							<p class="txt-b1 fw-600 mgt-0 txt-warning pd-2 bg-black-3 pdl-10">
								<ion-icon class="mgr-5 txt-warning" name="card"></ion-icon>
								Envio pendente
							</p>
							<hr />
							<div class="-wrap-prd">
								<div *ngFor="let elmt of item.lst_items" class="elm-prd" [routerLink]="['/detail', {id_item: elmt.id}]">
									<h4 class="fs-14 mgb-0 name">{{elmt.name}}</h4>
									<ion-row>
										<p class="txt-b3 quantity" style="padding-right: 50px;">x {{elmt.quantity}}</p>
										<p class="txt-b3 price" text-right>{{currenciesProv.formatMoney(elmt.price)}}
											{{(elmt.discount > 0)? '(-'+ elmt.discount +'%)' : null}}</p>
									</ion-row>
									<!-- 		<p class="txt-b3 quantity">x {{elmt.quantity}}</p>
								<p class="txt-b3 price" text-right>{{currenciesProv.formatMoney(elmt.price)}} {{(elmt.discount > 0)? '(-'+ elmt.discount +'%)' : null}}</p>
						 -->
								</div>
							</div>
							<br>
							<div class="bottom">
								<p class="txt-b3">
									<ion-icon name="ios-pin"></ion-icon>
									{{item.payload.doc.data().address}}
								</p>
								<hr />
								<p class="txt-b3 mg-0">
									Valor:
									<strong class="txt-b1 pull-right"
										text-right>{{currenciesProv.formatMoney(item.payload.doc.data().total_price)}}</strong>
								</p>
								<p class="txt-b3 mg-0">
									Taxa ({{settings.tax_fee}}%):
									<strong class="txt-b1 pull-right"
										text-right>{{currenciesProv.formatMoney(item.payload.doc.data().tax_pay)}}</strong>
								</p>
								<p class="txt-b3 mg-0">
									Frete ({{currenciesProv.formatMoney(settings.ship_fee)}}/km):
									<strong class="txt-b1 pull-right"
										text-right>{{currenciesProv.formatMoney(item.payload.doc.data().shipfee_pay)}}</strong>
								</p>
								<p class="txt-b3 fs-18">
									Total:
									<strong class="txt-b1 pull-right"
										text-right>{{currenciesProv.formatMoney(item.payload.doc.data().total_pay)}}</strong>
								</p>
								<p class="mgb-5" *ngIf="item.payload.doc.data().downloadURL">Anexo:
									<a href="{{item.payload.doc.data().downloadURL}}">VER</a>
								</p>
							</div>
							<div class="" text-right>
								<hr class="bg-light">
								<p class="txt1 italic fw-600" *ngIf="item.payload.doc.data().pay_method == 1">Pagar na entrega</p>
								<p class="txt1 italic fw-600" *ngIf="item.payload.doc.data().pay_method == 2">Pagamento com cartão</p>
								<p class="txt1 italic fw-600" *ngIf="item.payload.doc.data().pay_method == 3">Pagamento com Paypal</p>
							</div>
						</mat-expansion-panel>
					</mat-accordion>
					<br>
				</div>
				<!-- 		<div *ngFor="let item of list_orders_pending" class="item-order bg-white mgb-20 shadow-2" padding>
			<div class="top">
				<p class="txt-b1 fw-600">Pedido #{{item.payload.doc.id}}</p>
				<p text-right class="txt-b3">{{item.payload.doc.data().created.substring(4, 15)}}</p>
			</div>
			<p class="txt-b1 fw-600 mgt-0 txt-warning pd-2 bg-black-3 pdl-10">
				<ion-icon class="mgr-5 txt-warning" name="card"></ion-icon>
				Envio pendente
			</p>
			<hr/>
			<div class="-wrap-prd">
				<div *ngFor="let elmt of item.lst_items" class="elm-prd" [routerLink]="['/detail', {id_item: elmt.id}]">
					<h4 class="fs-14 mgb-0 name">{{elmt.name}}</h4>
					<p class="txt-b3 quantity">x {{elmt.quantity}}</p>
					<p class="txt-b3 price" text-right>{{currenciesProv.formatMoney(elmt.price)}} {{(elmt.discount > 0)? '(-'+ elmt.discount +'%)' : null}}</p>
				</div>
			</div>
			<br>
			<div class="bottom">
				<p class="txt-b3">
					<ion-icon name="ios-pin"></ion-icon>
					{{item.payload.doc.data().address}}
				</p>
				<hr/>
				<p class="txt-b3 mg-0">
					Valor: 
					<strong class="txt-b1 pull-right" text-right>{{currenciesProv.formatMoney(item.payload.doc.data().total_price)}}</strong>
				</p>
				<p class="txt-b3 mg-0">
					Taxa ({{settings.tax_fee}}%): 
					<strong class="txt-b1 pull-right" text-right>{{currenciesProv.formatMoney(item.payload.doc.data().tax_pay)}}</strong>
				</p>
				<p class="txt-b3 mg-0">
					Frete ({{currenciesProv.formatMoney(settings.ship_fee)}}/km): 
					<strong class="txt-b1 pull-right" text-right>{{currenciesProv.formatMoney(item.payload.doc.data().shipfee_pay)}}</strong>
				</p>
				<p class="txt-b3 fs-18">
					Total: 
					<strong class="txt-b1 pull-right" text-right>{{currenciesProv.formatMoney(item.payload.doc.data().total_pay)}}</strong>
				</p>
			</div>
			<div class="" text-right>
				<hr class="bg-light">
				<p class="txt1 italic fw-600" *ngIf="item.payload.doc.data().pay_method == 1">Pagar na entrega</p>
				<p class="txt1 italic fw-600" *ngIf="item.payload.doc.data().pay_method == 2">Pagamento com cartão</p>
				<p class="txt1 italic fw-600" *ngIf="item.payload.doc.data().pay_method == 3">Pagamento com Paypal</p>
			</div>
		</div> -->
			</div>

			<br>
			<h2 class="uppercase" *ngIf="list_orders_success.length > 0">10 ultimos pedidos</h2>
			<br>

			<div class="" *ngIf="list_orders_success.length > 0">
				<div *ngFor="let item of list_orders_success" class="item-order bg-white mgb-20 shadow-2" padding>
					<div class="top">
						<p class="txt-b1 fw-600">Order #{{item.payload.doc.id}}</p>
						<p text-right class="txt-b3">{{item.payload.doc.data().created.substring(4, 15)}}</p>
					</div>
					<p class="txt-b1 fw-600 mgt-0 txt-success pd-2 bg-black-3 pdl-10">
						<ion-icon class="mgr-5 txt-success" name="card"></ion-icon>
						Sucesso
					</p>
					<hr />
					<div class="-wrap-prd">
						<div *ngFor="let elmt of item.lst_items" class="elm-prd">
							<h4 class="fs-14 mgb-0 name">{{elmt.name}}</h4>
							<p class="txt-b3 quantity">x {{elmt.quantity}}</p>
							<p class="txt-b3 price" text-right>
								{{currenciesProv.formatMoney(elmt.price)}}{{(elmt.discount > 0)? '(-'+ elmt.discount +'%)' : null}}</p>
						</div>
					</div>
					<br>
					<div class="bottom">
						<p class="txt-b3">
							<ion-icon name="ios-pin"></ion-icon>
							{{item.payload.doc.data().address}}
						</p>
						<hr />
						<p class="txt-b3 mg-0">
							Valor:
							<strong class="txt-b1 pull-right"
								text-right>{{currenciesProv.formatMoney(item.payload.doc.data().total_price)}}</strong>
						</p>
						<p class="txt-b3 mg-0">
							Taxa ({{settings.tax_fee}}%):
							<strong class="txt-b1 pull-right"
								text-right>{{currenciesProv.formatMoney(item.payload.doc.data().tax_fee)}}</strong>
						</p>
						<p class="txt-b3 mg-0">
							Frete ({{currenciesProv.formatMoney(settings.ship_fee)}}/km):
							<strong class="txt-b1 pull-right"
								text-right>{{currenciesProv.formatMoney(item.payload.doc.data().shipfee_pay)}}</strong>
						</p>
						<p class="txt-b3 fs-18">
							Total:
							<strong class="txt-b1 pull-right"
								text-right>{{currenciesProv.formatMoney(item.payload.doc.data().total_pay)}}</strong>
						</p>
						<p class="mgb-5" *ngIf="item.payload.doc.data().downloadURL">Anexo:
							<a href="{{item.payload.doc.data().downloadURL}}">VER</a>
						</p>
					</div>
					<div class="" text-right>
						<hr class="bg-light">
						<p class="txt1 italic fw-600" *ngIf="item.payload.doc.data().pay_method == 1">Pagar na entrega</p>
						<p class="txt1 italic fw-600" *ngIf="item.payload.doc.data().pay_method == 2">Pagamento com cartão</p>
						<p class="txt1 italic fw-600" *ngIf="item.payload.doc.data().pay_method == 3">Pagamento com Paypal</p>
					</div>
				</div>
			</div>
		</div>
		<div *ngSwitchCase="'servicos'">
			<h5>Serviços</h5>

			<ion-card class="servicos" translucent="true" color="light">
				<div class="is-hero">
					<h1 padding-start padding-end padding-top>Acompanhe aqui os serviços de Agricultura de precisão </h1>

					<p padding-start padding-end padding-bottom>
						Aqui verá as etapas concluídas e as próximas para aplicar agricultura de precição.
					</p>
				</div>

				<ion-list padding class="is-list-ordered" class="servicos" color="light">
					<ion-item class="is-item-active">
						<ion-thumbnail slot="start" class="is-order-number" align-self-start>
							<span>1</span>
						</ion-thumbnail>
						<ion-label align-self-start>
							<h2>Coleta de solo</h2>
							<p text-wrap>Primeira etapa da agricultura de precição, clique para ver mais informações.</p>
						</ion-label>
						<span slot="end" class="is-item-info" align-self-start>
							VER
						</span>
					</ion-item>
					<ion-item>
						<ion-thumbnail slot="start" class="is-order-number" align-self-start>
							<span>2</span>
						</ion-thumbnail>
						<ion-label align-self-start>
							<h2>Analise de solo</h2>
							<p text-wrap>Analise feita pela empresa responsável pela coleta ou profissional terceirizado</p>
						</ion-label>
						<span slot="end" class="is-item-info" align-self-start>
							VER
						</span>
					</ion-item>
					<ion-item>
						<ion-thumbnail slot="start" class="is-order-number" align-self-start>
							<span>3</span>
						</ion-thumbnail>
						<ion-label align-self-start>
							<h2>ultima etapa</h2>
							<p text-wrap>etapa final.</p>
						</ion-label>
						<span slot="end" class="is-item-info" align-self-start>
							VER
						</span>
					</ion-item>
				</ion-list>
			</ion-card>

		</div>
	</div>
</ion-content>